*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: 'Poppins', sans-serif;
}
.root{
    bodycolor:rgb(39, 33, 33);
    maincolor:rgba(73, 139, 244, 0.933);
}
/* body{ 
    background-color: rgb(39, 33, 33);
}*/
/* section-1 */
.home{
    width: 100%;
    height: 800px;
    background-color: rgb(39, 33, 33);
}
.container{
    width: 80%;
    margin: auto;
}
span{
    color:rgba(73, 139, 244, 0.933);
}
a{
    text-decoration: none;
}
.butt{
    /* margin: 20px; */
    border: 20px groove rgba(73, 139, 244, 0.933);
    border: 0;
    padding: 10px 20px;
    background-color: rgba(73, 139, 244, 0.933);
    border-radius: 30px;
    font-size: 15px;
    box-shadow: 5px 5px 8px rgba(73, 139, 244, 0.933);
}
.butt:hover{
    background-color: transparent;
    border:2px solid rgba(73, 139, 244, 0.933);
}
.head{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* margin-left: 100px; */
    padding-top: 20px;
   
}
.head h1{
    font-size: 35px;
    text-shadow: 2px 2px 5px rgba(73, 139, 244, 0.933);
}
.head ul li{
    display: inline-block;
    margin: 0 20px;
    font-size: 17px;
}
.head ul li a:hover{
    color:rgba(73, 139, 244, 0.933);
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0;
}
.images{
  margin: 50px 0;
  
}
.images img{
    width: 30px;
    margin: 0 15px;
}
.images img:hover{
    width: 40px;
}
.img1{
   margin: 0;
}
.photo img{
    width: 380px;
    /* border-radius: 50%; */
    margin: 20px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #fff, 5px 5px 8px rgba(73, 139, 244, 0.933), 10px 10px 8px rgba(73, 139, 244, 0.933), 15px 15px 8px rgba(73, 139, 244, 0.933),20px 20px 8px rgba(73, 139, 244, 0.933);
}
.par .p1{
   color:rgba(178, 201, 237, 0.933);
   margin-bottom: 10px;
}
.par h2{
    font-size: 60px;
}
.par .p2{
    margin-bottom: 20px;
}
/* section-2 */
.about{
    background-color: rgb(71, 68, 68);
    width: 100%;
   /* height: 400px; */
   display: flex;
   justify-content: space-between;
   text-align: center;
   padding: 50px;
  
}

.img-sec{
  width: 35%;
  
}
.img-sec img{
   width: 90%;
}
.about-sec{
   width: 35%;
   text-align: left;
   margin-top: 30px;
}
.about-sec h2{
    font-size: 60px;
    /* margin-right: 20px; */
}
.about-sec h5{
    font-size: 15px;
}
.about-sec p{
    letter-spacing: 2px;
    line-height: 35px;
    color:rgba(178, 201, 237, 0.933);
}
/* section-3 */
.service{
    background-color: rgb(39, 33, 33);
}
.ser{
    display: flex;
}
.service h2{
    font-size: 40px;
    text-align: center;
   padding: 30px;
}
.item{
    width:300px;
    background-color: rgb(71, 68, 68);
    margin: 30px 20px ;
    border-radius: 20px;
    text-align: center;
}
.item i{
    font-size: 30px;
    margin: 10px 0;
    color: rgba(73, 139, 244, 0.933);
    
}
.ss{
    font-size: 70px;
}
.item h5{
  font-size: 20px;
  margin: 20px;
}
.item p{
    color: rgba(178, 201, 237, 0.933);
    line-height: 20px;
    letter-spacing: 2px;
    margin: 20px 10px;
}
/* section-4 */
.skill{
    background-color: rgb(71, 68, 68);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.skill-item{
    width: 40%;
}
.skill-item h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.skill-item img{
    width: 100px;
    margin-bottom: 10px;
}
.img-item{
    width: 40%;
}
.img-item img{
  width: 90%;
}
/* section-5 */
.final{
    background-color: rgb(39, 33, 33);
    text-align: center;
}
.final h2{
    font-size: 30px;
    padding: 20px;
}
.final p{
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.final .fin{
  
  color: rgba(73, 139, 244, 0.933);
  letter-spacing: 1px;
  padding-bottom: 20px;
}
#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color:rgb(39, 33, 33);
    border-radius: 10px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
/* Media quares */
@media  (max-width: 575px) {
    .root{
        --padding:1.5rem;
    }
    html{
        --font-size: 13px;
    }
   
    .photo img{
        display: none;
    }
    .head ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background:  rgb(39, 33, 33);
    }
    .head ul li{
        display: block;
        text-align: center;
        margin: 40px;
    }
    .head .butt{
        display: none;
    }
    .home{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: rgb(39, 33, 33);
        border: 1px solid rgb(39, 33, 33);
        z-index: -1;
    }
    .photo img{
        display: none;
    }
    #menu{
        display: block;
    }
    .head h1{
        
    }
    .content{

    }
}